/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

@font-face {
  font-family: 'Roboto', sans-serif;
}

html {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


* {
  box-sizing:border-box
}

/* General Text Styles */

.title {
  margin-bottom: 50px;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: 300;
}

h1 {
  color: #353535;
  font-size: 8rem;
  line-height: 0.5rem;
  padding: 8px 12px;
  font-weight: 300;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

p {
  font-size: 1.8rem;
}

ul {
    list-style: none;
    padding-left: 1%;
    font-size: 1.2rem;
    line-height: 1.5em;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.slide {
    width:100%;
    min-height: 700px;
    display: none;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.white {
  width: 100%;
  min-height: 700px;
  background-color: rgba(255,255,255,0.1);
}

.text {
  padding-left: 10%;
  padding-top: 10%;
  width: 100%;
  height: 100%;
  text-align: left;
}

/* Next & previous buttons */
.prev, .next {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  padding: 16px;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-shadow: 1px 1px #949494;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color:#949494;
  text-decoration: none;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.8s;
  animation-name: fade;
  animation-duration: 0.8s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */

display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before, *:after, *:first-letter, *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */

box-shadow: none !important;
    text-shadow: none !important;
 }
 
 a,
 a:visited {
   text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href)")";
}

abbr[title]:after {
  content: " (" attr(title)")";
}

/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

a[href^="#"]:after, a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}

